build: false

environment:
  matrix:
    - PYTHON_VERSION: 3.6
      MINICONDA: C:\Miniconda3

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - "conda create -c conda-forge -q -n test-environment python=%PYTHON_VERSION% numpy scipy pytest scikit-learn librosa keras"
  - activate test-environment
  - pip install pytest-cov
  - pip install -r requirements.txt
  - pip install ./ -v

test_script:
  - pytest


